<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application>
        <service 
            android:name="ee.forgr.capacitor_updater.DownloadService"
            android:exported="false" />
    </application>
</manifest>
