name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Lint 
        id: lint_code
        run: npm run fmt
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
